<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>三栏式布局</title>
<link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="wrap">
	<div id="box_left">
		<img src="images/tu.jpg" alt="">
		<span>祖国风光</span>
	</div>
	<div id="box_right">
		<ul>
			<li><img src="images/tu.jpg" alt=""></li>
			<li><img src="images/tu.jpg" alt=""></li>
			<li><img src="images/tu.jpg" alt=""></li>
			<li><img src="images/tu.jpg" alt=""></li>
		</ul>
	</div>
	<div id="main">
		<p> 龙芯是中国科学院计算所自主研发的通用CPU，采用RISC指令集，类似于MIPS指令集。龙芯1号的频率为266MHz，最早在2002年开始使用。龙芯2号的频率最高为1GHz。龙芯3A是首款国产商用4核处理器，其工作频率为900MHz～1GHz。龙芯3A的峰值计算能力达到16GFLOPS。龙芯3B是首款国产商用8核处理器，主频达到1GHz，支持向量运算加速，峰值计算能力达到128GFLOPS，具有很高的性能功耗比。</p>
		<p>2015年3月31日中国发射首枚使用“龙芯”北斗卫星。</p>
		<p>据美国《华尔街日报》2015年4月9日报道，美国政府禁止企业向与世界上运算速度最快的超级计算机有关的中国设施出口技术，这对英特尔和其他硬件供应商来说是一个打击，给中美两国之间的一系列科技争端再添一项。这一限令包含在美国商务部发布在联邦政府网站的一份公告中，其日期标明为2月18日，即中国除夕，但直到4月9日才有媒体获悉其存在。被列入限制名单的分别是中国国防科学技术大学、国家超级计算机长沙中心、国家超级计算机天津中心和国家超级计算机广州中心。公告声称，美国政府认定名单上的这些机构“涉及违反美国国家安全或外交政策利益的活动”。例如，“中国国防科学技术大学采用源自美国的多核、主板和处理器生产天河－1A和天河二号”，这两个系统“据信被用于核爆炸活动”。如果有美国公司要向名单上的4家中国机构出售相关技术，必须先向美国政府申请出口许可。但正如公告所指出的那样，这类许可的申请“通常会遭到政策性的拒绝”。因此这一公告实际上相当于禁令。</p>
		<p>2001年5月，在中科院计算所知识创新工程的支持下，龙芯课题组正式成立。2002年8月10日，首片龙芯1号芯片X1A50流片成功.龙芯最初的英文名字是Godson，后来正式注册的英文名为Longstanding。
龙芯CPU由中国科学院计算技术所龙芯课题组研制．由中国科学院计算技术所授权的北京神州龙芯集成电路设计公司研发，前期批量样品由台湾台积电生产。</p>
		<p>尽管今天的“龙芯”还存在着诸多问题与目前主流CPU相比性能上还有不少差距,还不能与Intel和AMD的CPU在PC市场上竞争，但坦率讲，今天“龙芯”的境遇已经比当年的“联想汉卡”好多了。回想当年的“联想汉卡”是由做大型机出身的毫无产业经验的科研人员一块一块的手工焊接而成、又一块一块的人工检测。据说1986年，联想第一线销售人员每天接到的投诉电话和定货电话几乎一样多----每卖出100块“汉卡”，就有30块出问题；而今天的“龙芯”不仅获得了中科院重大知识创新工程项目和国家863计划的支持，通过了严格的成果鉴定、基准程序测试和产品测试，可进入商品化生产；还得到了各地政府和企业的大力支持，已在江苏省常熟市建立了产业化基地。</p>
	</div>
</div>
</body>
</html>
